.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* justify-content: space-evenly; */
    

}

.card {
    background-color: blueviolet;
    list-style: none;
    margin: 1rem;
    border-radius: 15px;
    height: 2rem;
    text-align: center;
    justify-content: center;
    /* align-content: center; */
}